CAMERA_INDEX = 0

# Show the OpenCV preview window. Set to "false" in production (e.g. Pi)
# to run headless for better performance.
SHOW_PREVIEW=false

# Home Assistant Server
WS_SERVER_URL=ws://localhost:3000/events
